<html>
  <head>
    <!-- least.js CSS-file -->
    <link href="css/least.min.css" rel="stylesheet" />
    <!-- jQuery libary -->
    <script src="http://code.jquery.com/jquery-latest.js" defer="defer"></script>
    <!-- least.js JS-file -->
    <script src="js/least.min.js" defer="defer"></script>
    <!-- Lazyload JS-file -->
    <script src="js/jquery.lazyload.min.js" defer="defer"></script>
  </head>
  <body>
    <section>
      <ul id="gallery">
        <% @images.each do |img| %>
          <li id="fullPreview"></li>
          <li>
            <a href="http://gyazo.cignoir.jp/<%= img.split("@")[0] %>"></a>
            <img data-original="http://gyazo.cignoir.jp/<%= img.split("@")[0] %>" src="http://gyazo.cignoir.jp/<%= img.split("@")[0] %>" width="240" height="150" alt="<%= img.split("@")[0] %>" />

            <div class="overLayer"></div>
            <div class="infoLayer">
              <ul>
                <li>
                  <h2><%= img.split("@")[1] %></h2>
                </li>
                <li>
                    <p>
                        View Picture
                    </p>
                </li>
              </ul>
            </div>
            <div class="projectInfo">
                <strong>Day, Month, Year:</strong>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  </body>
</html>
